/* src/components/Header.css */

.header {
  display: flex;
  align-items: center;
  background-color: #f8f9fa; /* Adjust as needed */
}

.logo img {
  max-width: 90%;
  height: auto;
  /* Add some constraints if needed */
  max-height: 60px; /* Example constraint to ensure the logo doesn't get too tall */
}

.avatarContain{
    height: 100% !important;
    /* width: 100% !important; */
}

.avatarContain img{
  max-width: 100%;
  height: auto;
  /* Add some constraints if needed */
  max-height: 43px; /* Example constraint to ensure the logo doesn't get too tall */
}

@media (max-width: 768px) {
  .logo img {
    max-height: 40px; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .logo img {
    max-height: 30px; /* Adjust for even smaller screens */
  }
}
